body {
	background-color: #000;
	background-image: url(../images/bg2.jpg);
	background-position: center
	background-repeat: no-repeat;
}
.container {
	background-color: #FFF;
	border: 20px solid #FFF;
	border-color-opacity: .5;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	height:720px;
	
}

#details {
	min-height: 150px;
}

#footer {
	text-align: center;
}
#footer, #footer a {
	color: #FFF;
}

h1 {
	color: #FFF;
	padding:0;
}
#header{
	
	background-color: #333;
	padding:5px;
}
#header div{
	margin:0;
	padding:0;
}

.span-24 {
float:none;
}
.hidden {
	display: none;
}

ol {
	padding-left: 0;
	width: 950px;
	height: 450px;
	overflow-y: auto;
}
	ol li {
		border-right: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		color: #FFF;
		
		height: 80px;
		float: left;
		font-size: 2em;
		background-image: url(../images/list-bg.png);
		list-style-position: inside;
		padding-left: 5px;
		position: relative;
		width: 305px;
		z-index: 3;
	}
		ol li p {
			font-size: .5em;
			z-index: 2;
			color: #666;
			position: absolute;
			left: 83px;
			top: 4px;
		}
		ol li a {
			color: #666;
			text-decoration: none;
		}
			ol li a:hover {
				text-decoration: underline;
			}
		.profilepic {
			position: absolute;
			top: 3px;
			left: 3px;
			z-index: -1;
		}
		ol li strong {
			color: #000;
			display: block;
			font-size:1.5em;
			line-height:1.25;
		}

#tabs {
	height: 36px;
	background-image: url(../images/tab-bg-gradient.png);
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border: 1px solid #CCC;
	border-bottom-color: #AAA;
}
	#tabs ul {
		list-style: none;
		padding-left: 1.5em;
	}
		#tabs ul li {
			float: left;
			font-weight: bold;
			margin: 6px 1.5em 0 0 ;
			padding: 3px 10px 3px 10px;	
		}
			#tabs ul li a {
				color: #000;
				text-decoration: none;
			}
				#tabs ul li a:hover {
					text-decoration: underline;
				}
			#tabs ul li.selected {
				background-image: url(../images/tab-bg-gradient-selected.png);
				-webkit-border-radius: 18px;
				-moz-border-radius: 18px;
				border-radius: 18px;
			}
				#tabs ul li.selected a, #tabs ul li.selected a:hover {
					color: #FFF;
					text-decoration: none;
				}
#tabPanes {
	height: 450px;
	border: 1px solid #AAA;
	border-top: none;
	overflow: hidden;
}
fieldset {
	border:none;
}
}