body {
	font-family: 'Helvetica','Arial';
}
.squarePic {
	border: 3px solid #ddd;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.squarePic .avatar {
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color: #fff;
	width: 50px;
	height: 50px;
}
.attendee {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-left: 25px;
}
.attendee .squarePic {
	position: relative;
	left: 3px;
}
.attendee .squarePic .avatar {
	position: relative;
	width: 50px;
	height: 50px;
}
.attendee .user {
	position: relative;
	top: 3px;
}
.attendee .user .children {
	padding: 2px;
	background-color: #aadaff;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	min-width: 20px;
	height: 14px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.attendee .user .username {
	padding: 3px;
	background-color: #fff;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 90px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.attendee .user.withChildren .username {
	padding-right: 30px;
	background-color: #d0eaff;
}
#infovis {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 80px;
	right: 0px;
	z-index: 5;
	overflow: hidden;
}
#infovis-canvas {
	cursor: pointer;
	cursor: move;
}
.infotip {
	background-color: rgba(0,0,0,.8);
	width: 120px;
	min-height: 50px;
	position: relative;
	top: 25px;
	left: -10px;
	padding-top: 35px;
	padding-left: 2px;
	padding-right: 10px;
	z-index: 10;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding-bottom: 10px;
}
.infotip .username {
	padding-left: 10px;
	font-size: 12px;
	text-align: center;
}
.infotip .username a {
	color: #B8D9FE;
}
.infotip .username a:hover {
	color: #B8D9FE;
}
.infotip .squarePic {
	border: 3px solid;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -25px;
	left: 38px;
	cursor: pointer;
}
.infotip .squarePic .avatar {
	position: relative;
	width: 50px;
	height: 50px;
}
.infotip .children {
	display: none;
}
.infotip .joined {
	padding-top: 7px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.infotip .via {
	padding-left: 10px;
	position: relative;
	margin-bottom: 3px;
}
.infotip .via.total {
	padding-bottom: 5px;
}
.infotip .via.others {
	padding-top: 7px;
}
.infotip .via .attendcount {
	display: block;
	font-weight: normal;
	padding-left: 20px;
}
.infotip .via img {
	position: absolute;
	top: 5px;
}
.infotip .creator {
	padding-left: 10px;
	padding-top: 10px;
}
.squarePic.channel-undefined {
	border-color: #ddd;
}
.squarePic.channel-twitter {
	border-color: #32ccff;
}
.squarePic.channel-facebook {
	border-color: #3b5997;
}
