/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font: inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

em { font-style:italic; }

/* END RESET CSS */


/* font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/ */
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*
 * minimal base styles
 */


body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* headers (h1,h2,etc) have no default font-size or margin. define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE: */
html { overflow-y: scroll; }


/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #0080ff; }
a:hover { color: #036; }


ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection{ background: hsl(30, 100%, 50%);; color:#fff; text-shadow: none; }
::selection { background: hsl(30, 100%, 50%);; color:#fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: hsl(30, 100%, 50%); }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


 /* Primary Styles
    Author:
 */

body {
	/* background-image: url(../images/bg.png); */
	background-color: #f0f0f0;
	min-width: 960px;
	margin: 0 1em;
}

#container {
	height: 100%;
	width: 100%;
}

header {
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

#prompt {
	background: url(../images/h1.png) no-repeat bottom left;
	width: 473px;
	padding: 15px;
	padding-bottom: 33px;
	float: left;
}
	h1 {
		font-weight: normal;
		font-size: 3em;
	}
	h1 abbr {
		font-weight: bold;
	}
	#plancastUrlLabel {
		display: block;
		font-size: 1.3em;
		margin-bottom: .5em;
	}
	#plancastUrl {
		font-size: 1.3em;
		width: 437px;
	}
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
		/* iPad override */
		#plancastUrl {
			width: 427px;
		}
	}
	.popular {
		margin-top: 1em;
	}


#eventSummary {
	background: #FFF;
	padding: 15px;
	float: left;
	
	-webkit-border-bottom-right-radius:	15px;
	-webkit-border-bottom-left-radius:	15px;
	-moz-border-radius-bottomright:		15px;
	-moz-border-radius-bottomleft:		15px;
	border-bottom-right-radius:			15px;
	border-bottom-left-radius:			15px;
	
	-moz-box-shadow:	0 4px 5px 0 #999;
	-webkit-box-shadow:	0 4px 5px 0 #999;
	box-shadow:			0 4px 5px 0 #999;
	
	width: 427px;
}
	#eventSummaryHead p {
		font-size: 1.2em;
		line-height: 1.5em;
	}
		h2 {
			font-size: 1.5em;
			line-height: 2em;
		}
	
	#eventSummaryDesc {
		border-top: 1px solid #000;
		margin-top: 1em;
		padding-top: 1em;
	}

footer {
	bottom: 0;
	left: 50%;
	padding: 15px;
	position: absolute;
	margin-left: -465px;
	width: 930px;
}
footer.active {
	left: 0;
	margin-left: 0;
}
	#btnFullScreen, #btnAbout {
		padding-top: 35px;
		min-width: 35px;
		display: inline-block;
		text-align: center;
		background-repeat: no-repeat;
		background-position: top center;
		text-decoration: none;
		color: #999;
		margin-right: 1em;
		font-size: .8em;
	}
	.footerSprite {
		background-image: url(../images/footer-sprite.png);
		width: 33px;
		height: 33px;
		display: block;
		margin: 0 auto 3px auto;
	}
	#btnFullScreen .footerSprite {
		background-position: 66px 0;
	}
		#btnFullScreen:hover .footerSprite {
			background-position: 66px 66px;
		}
		#btnFullScreen.active .footerSprite {
			background-position: 33px 33px;
		}
			#btnFullScreen.active:hover .footerSprite {
				background-position: 33px 66px;
			}
	#btnAbout .footerSprite {
		background-position: 0 0;
	}
		#btnAbout:hover .footerSprite {
			background-position: 0 66px;
		}
		#btnAbout.active .footerSprite {
			background-position: 0 33px;
		}
	#shareTools {
		position: absolute;
		bottom: 15px;
		right: 0;
	}

#stats, #about {
	background: #FFF;
	bottom: 0;
	left: 50%;
	padding: 15px;
	position: absolute;
	margin-left: -315px;
	width: 630px;
	
	-moz-box-shadow:	0 4px 5px 0 #999;
	-webkit-box-shadow:	0 4px 5px 0 #999;
	box-shadow:			0 4px 5px 0 #999;
	
	-webkit-border-top-right-radius:	15px;
	-webkit-border-top-left-radius:		15px;
	-moz-border-radius-topright:		15px;
	-moz-border-radius-topleft:			15px;
	border-top-right-radius:			15px;
	border-top-left-radius:				15px;
}
#stats {
	z-index: 11;
}
#about {
	z-index: 12;
}

#stats {
	-moz-column-count: 3;
	-moz-column-gap: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 0;
	column-count: 3;
	column-gap: 0;
}
	#stats table {
		margin-left:auto; margin-right:auto;
	}
	.totalStat {
		text-align: center;
		padding: 0 1em;
	}
		.totalStat strong {
			font-size: 2em;
		}
	.channelStat {
		text-align: right;
		font-weight: bold;
	}

.bottom {
	padding-bottom: 1em;
}

/*
 * Non-semantic helper classes: please define your styles before this section.
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}